body {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(to bottom right, rgb(197, 117, 131), rgb(95, 125, 189), #3d5b5f);
}

.choice {
	display: flex;
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin: 3rem;
	width: 10rem;
	height: 3rem;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(116, 172, 135);
	color: rgb(18, 43, 18);
	box-shadow: .2rem .3rem .5rem .1rem rgb(3, 122, 126);
}
#choice_images {
	display: flex;
	flex-direction: row;
}

img {
	max-width: 20rem;
	max-height: 20rem;
	margin: auto;
}

.game_view {
	display: flex;
	align-items: center;
	margin: 1rem;
	justify-content: center;
	align-self: center;
	max-height: 30rem;
}

#reset {
	display: flex;
	background: rgb(116, 172, 135);
	margin: 1rem;
	margin-left: 2rem;
	width: 6rem;
	height: 2rem;
	align-items: center;
	justify-content: center;
}
h2 {
	margin-right: 4rem;
}

#hist_title {
	margin-left: 4rem;
}

p {
	font-size: 1rem;
}

#winner_history {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap-reverse;
	align-self: center;
	justify-content: flex-end;

	margin: auto;
	max-width: 80%;
	min-height: 1rem;
}

#gameScore {
	display: flex;	
	align-content: center;
	align-items: center;
	justify-content: center;
}

li {
	min-width: 5rem;
	max-width: 5rem;
	margin: .1rem;
	display: flex;
	justify-content: center;
}

#Player {
	background: palegreen;
}

#Computer {
	background: palevioletred;
}

#Nobody {
	background: lightgray;
}

#game_options {
	display: flex;
	align-self: center;
	flex-wrap: wrap;
	max-width: 15rem;
	max-height: 8rem;
}

#game_options input {
	max-height: 1.5rem;
	margin-left: 1rem;
	margin-top: .75rem;
}
#game_count {
	max-width: 2rem;
}
